.tour {
	color: #fff;

	#map {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	&__overlay {
		position: relative;
		height: 100vh;
		padding: 1px;
	}

	.scroller {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: linear-gradient(to top, rgba(#000, 0.5) 50%, transparent);
		margin: 0;
		padding: 2rem 0;
	}

	.super-card:not(.active) {
		height: 370px;
		width: 270px;

		h2 { @extend h3; }

		.super-card__header { padding: 0; }
		.expandable { display: none; }
		figcaption { display: none; }
	}

	.super-card.active {
		z-index: 2;
		position: fixed;
		top: 50%;
		left: 50%;
		height: 70%;
		width: 80%;
		transform: translate(-50%, -50%);

		h2 { font-size: 7rem; }

		.fade {
			top: -15vh;
			left: -10vw;
		}
	}
}
