.card {
	box-sizing: border-box;
	box-shadow: 0 0 20px 0 rgba(#000, 0.6);
	border-radius: 3px;
	padding: 1px;
	position: relative;
	outline: 0;

	&.prey::after,
	&.predator::after {
		content: 'Predador';
		display: block;
		position: absolute;
		font-size: 0.8em;
		top: 0;
		right: 0;
		padding: 0.5em;
		background: #b20000;
		margin-top: -1em;
		margin-right: -1em;
		z-index: 1;
		border-radius: 5px;
	}

	&.prey::after {
		content: 'Presa';
		background: #5b5;
	}

	h3,
	h4 {
		text-shadow: 0 0 0.5em #000;
	}
}
