@import 'views/concepts';

body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	user-select: none;
}

#app {
	height: 100%;
}

button {
	appearance: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	position: relative;
}

.close-btn {
	display: block;
	font-size: 3rem;
	padding: 0.25em 0.5em;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	text-decoration: none;
	color: inherit;
}

.scrollable {
	display: flex;
	overflow-x: auto;
	margin: 1rem 0;

	&::before,
	&::after {
		content: '';
		flex: 1 0 1rem;
	}

	li {
		margin: 1rem;
		flex: 0 0 content;
	}
}

figure {
	position: relative;
	outline: 0;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
	background: #000;
	pointer-events: none;

	video,
	img { @extend .cover; }

	& + * {
		position: relative;
		z-index: 1;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(#000, 0.5);
		font-size: 0.7em;
		padding: 0.75em 1em;
	}
}
